* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    color: #000;
    text-align: center;
    font: normal 12px Georgia, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: #369;
    text-decoration: underline;
}

a:hover {
    color: #C80000;
    text-decoration: none;
}

span, li, dt, dd, p, h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

img {
    border: 0;
}

ul, li {
    list-style-type: none;
}

p {
    line-height: 150%;
}

h1 {
    margin: 0 auto;
    width: 100%;
    background: #353535 url(../images/logo.gif) 0 0 no-repeat;
    font-size: 28px;
    height: 60px;
    color: #FFF;
    line-height: 60px;
    text-indent: 60px;
    overflow: hidden;
    border-bottom: 3px solid #999;
}

#YNews {
    position: relative;
    z-index: 1;
    margin: 80px auto;
    width: 400px;
    height: 260px;
    padding: 4px;
    border: 3px solid #B0BEC7;
    overflow: hidden;
}

#YNews dl {
    position: absolute;
    z-index: 2;
    top: 4px;
    left: 4px;
    width: 400px;
    height: 260px;
    overflow: hidden;
}

#YNews dt {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    overflow: hidden;
}

#YNews dt, #YNews dt img {
    width: 400px;
    height: 260px;
}

#YNews dd {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 70px;
    color: #FFF;
    overflow: hidden;
    background-color: #000;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity=70);
}

#YNews h3 {
    margin: 0 auto;
    width: 380px;
    height: 34px;
    line-height: 34px;
    text-align: left;
    overflow: hidden;
    font-size: 16px;
}

#YNews p {
    margin: 0 auto;
    width: 380px;
    height: 17px;
    line-height: 17px;
    text-align: left;
    overflow: hidden;
}

#YNews p a:link, #YNews p a:visited, #YNews p a:hover {
    color: #FFF;
}

p#YNIndex {
    position: absolute;
    z-index: 5;
    bottom: 4px;
    right: 4px;
    width: 120px;
    height: 19px;
    text-align: right;
    overflow: hidden;
}

p#YNIndex a{
    float: left;
    width: 25px;
    height: 19px;
    text-align: center;
    color: #FFF;
    line-height: 20px;
    text-decoration: none;
    /*background: transparent url(../images/yn-tab.gif) -24px 0 no-repeat;*/
}

 p#YNIndex a.cls {
    background: transparent url(../images/yn-tab.gif) 0 0 no-repeat;
    /*width: 24px;*/
}

.even {
    background-color: #F8F8F8;
}

.odd {
    background-color: #EAEFF5;
}

.hover {
    background-color: #B0BEC7;
    color: #FFF;
    cursor: pointer;
}


#footer {
    margin: 0 auto;
    width: 960px;
    padding: 15px 0;
    overflow: hidden;
    border-top: 1px solid #999;
}

#footer p {
    margin: 0 auto;
    padding: 5px 0;
    width: 960px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
}